* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  yazı-kutu-ortalama{
      display: flex;
      /* display: flex; CSS özelliği, bir container (kap) elementinin içindeki öğeleri düzenlemek ve hizalamak için esnek bir model sağlar. Bu özellik, öğeleri yatay veya dikey düzende hizalayabilmenizi, boşlukları ayarlayabilmenizi ve ekstra özelliklerle bir dizi düzenleme seçeneği sunar. */
      justify-content: center;
      align-items: center;
  }
  
  .box1 {
    background-image: url(./bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: contain; */
    height: 100vh;
    position: relative;
    opacity: 0.8;
    background-attachment: fixed;
  }
  
  .box1 span {
    /* border: 4px solid rgb(238, 8, 161); */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(10, 10, 10, 0.44);
    width: 20vw;
    height: 10vh;
    text-align: center;
    padding-top: 2rem;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    outline: 4px inset rgb(253, 5, 241);
    outline-offset: 0.7rem;
    letter-spacing:  0.5rem;
    color: aqua;
    font-size: 1.5rem;
    /* bu özellik yazı aralarını açar
    letter-spacing:  0.3rem; */
  }
  
  /* outline: 5px solid red;
  outline-offset: 0.7rem;
  bu özellikler kutu dışına border vermemizi ve araya boşluk eklememizi sağladı */
  #logo {
    display: inline-block;
    /* img inline elemet olduğu için genişlik v yükseklik almaz o yüzden disp-blok dedik genişliği ve yükseliği yesin diye */
    width: 5rem;
    height: 5rem;
    opacity: 0.6;
    position: fixed;
    bottom: 12%;
    left: 90%;
  }
  
  #yourself2 {
    display: inline-block;
    width: 22rem;
    height: 5rem;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .box2 {
    position: relative;
    background-image: url(./bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: contain; */
    height: 100vh;
    opacity: 0.8;
    background-attachment: fixed;
  }
  
  .box2 header {
    background-color: rgb(230, 221, 221);
    color: black;
    text-align: justify;
    /* border: 3px solid red; */
    padding: 2%;
    /* position: sticky;
    top: 0; */
   
  }
  
  .box2 header span {
    /* border: 3px solid red; */
    margin-left: 40%;
    font-size: 1.6rem;
  }
  
  .box3 {
    position: relative;
    background-image: url(./bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: contain; */
    height: 100vh;
    opacity: 0.8;
    background-attachment: fixed;
  }
  
  #yourself3 {
    display: inline-block;
    width: 22rem;
    height: 5rem;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(10, 10, 10, 0.44);
    width: 35vw;
    height: 10vh;
    text-align: center;
    padding-top: 2rem;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    outline: 4px solid rgba(53, 4, 53, 0.767);
    outline-offset: 0.7rem;
    color: white;
    font-size: 2rem;
  }
  .box3 header span {
    /* border: 3px solid red; */
    margin-left: 40%;
    font-size: 1.8rem;
  }
  
  .box3 header {
    background-color: rgba(10, 10, 10, 0.966);
    color: rgb(243, 240, 240);
    text-align: justify;
    /* border: 3px solid red; */
    padding: 2%;
  }
  
  .box4 {
    position: relative;
    background-image: url(./bg4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: contain; */
    height: 100vh;
    opacity: 0.8;
    background-attachment: fixed;
  }
  
  #yourself4 {
    display: inline-block;
    width: 22rem;
    height: 5rem;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(10, 10, 10, 0.44);
    width: 35vw;
    height: 10vh;
    text-align: center;
    padding-top: 2rem;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    outline: 4px solid rgba(53, 4, 53, 0.767);
    outline-offset: 0.7rem;
    color: white;
    font-size: 2rem;
  }
  
  .box4 header {
    background-color: rgb(230, 221, 221);
    color: black;
    text-align: justify;
    /* border: 3px solid red; */
    padding: 2%;
  }
  .box4 header span {
      /* border: 3px solid red; */
      margin-left: 40%;
      font-size: 1.8rem;
    }
  
  
  .box5 {
      position: relative;
      background-image: url(./bg1.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      /* background-size: contain; */
      height: 100vh;
      opacity: 0.8;
      background-attachment: fixed;
    }
  
  
  
  .box5 header span {
    /* border: 3px solid red; */
    margin-left: 40%;
    font-size: 1.8rem;
  }
  #yourself5 {
    display: inline-block;
    width: 22rem;
    height: 5rem;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(10, 10, 10, 0.54);
    width: 36vw;
    height: 10vh;
    text-align: center;
    padding-top: 2rem;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    outline: 4px solid rgba(53, 4, 53, 0.767);
    outline-offset: 0.7rem;
    color: white;
    font-size: 2rem;
  }
  
  .box5 header {
    background-color: rgba(8, 8, 8, 0.925);
    color: rgb(255, 252, 252);
    text-align: justify;
    /* border: 3px solid red; */
    padding: 2%;
  }
  
  .box5 header span {
    /* border: 3px solid red; */
    margin-left: 40%;
    font-size: 1.8rem;
  }
  